.menu{
    background-color: beige;
    color: #460d25;
}

.menu img{
    margin: 2em 0em -0.5em 0em;

}

.item{
    display: inline-block;
    margin: 2em 2em 1em 2em;
}

p:hover{
    color: rgb(177, 146, 109);
}